@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@1,300&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Serif", serif;
}
body {
    overflow-x: hidden;
}

.pg1 {
    width: 1400px;
    height: 760px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(
            rgba(34, 34, 34, 0.39),
            rgba(34, 34, 34, 0.39)
        ),
        url("./assets/juju.jpg");
    background-size: cover;
}

.title {
    font-size: 5rem;
    color: #fff;
}

.pg2 {
}
